<%= form_with(model: proposal) do |form| %>
  <% if proposal.errors.any? %>
    <%= render(Primer::Alpha::Banner.new(scheme: :danger)) do %>
      <% errors_count_msg = pluralize(proposal.errors.count, "error")%>
      <h2><%= "#{errors_count_msg} prohibited this proposal from being saved:" %></h2>

      <ul>
        <% proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <%= primer_form_with(model: proposal) do |f| %>
    <%= render(Proposals::EditForm.new(f)) %>
  <% end %>
<% end %>
