<div id="<%= dom_id proposal %>">
  <p>
    <strong>Source:</strong>
    <%= proposal.source %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= proposal.destination %>
  </p>

  <p>
    <strong>Source loading date:</strong>
    <%= proposal.source_loading_date %>
  </p>

  <p>
    <strong>Destination unloading date:</strong>
    <%= proposal.destination_unloading_date %>
  </p>

</div>
