<p style="color: green"><%= notice %></p>

<h1>Proposals</h1>

<div id="proposals">
  <% @proposals.each do |proposal| %>
    <%= render proposal %>
    <p>
      <%= link_to "Show this proposal", proposal %>
    </p>
  <% end %>
</div>

<%= link_to "New proposal", new_proposal_path %>

<p> text </p>

<% title = "ekk" %>
<% subtitle = "subkek" %>
<% size = :medium %>
<% position = :center %>
<% position_narrow = :fullscreen %>
<% visually_hide_title = false %>
<% icon = :none %>
<% disable_button = false %>
<% button_text = "button text kek" %>
<% body_text = "body jej" %>

<%= render(Primer::Alpha::Dialog.new(
  title: title,
  subtitle: subtitle, 
  size: size, 
  position: position,
  position_narrow: position_narrow,
  visually_hide_title: visually_hide_title)) do |d|
  if icon.present? && (icon != :none)
    d.with_show_button(icon: icon, "aria-label": icon.to_s, disabled: disable_button)
  else
    d.with_show_button(disabled: disable_button) { button_text }
  end
  d.with_body { body_text }
end %>
