<!DOCTYPE html>
<html>
  <head>
    <title>Kek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag("primer_view_components") %>
    <%# <%= javascript_importmap_tags %> %>
    <link href="https://unpkg.com/@primer/css@^20.2.4/dist/primer.css" rel="stylesheet" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
